name: Build all

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin # timezone
    strategy:
      fail-fast: false
      matrix:
        include:
          - app-path: personalization-service

    steps:
      - uses: it-at-m/lhm_actions/action-templates/actions/action-checkout@0f8ed45a5eb72bf1cc2fe1d3dbcbcfb852549c27 # v1.0.17
      - if: ${{ hashFiles(format('./{0}/package.json', matrix.app-path))!=null }}
        id: node
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-build@0f8ed45a5eb72bf1cc2fe1d3dbcbcfb852549c27 # v1.0.17
        with:
          app-path: ${{ matrix.app-path }}
      - if: ${{ hashFiles(format('./{0}/pom.xml', matrix.app-path))!=null }}
        id: maven
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@0f8ed45a5eb72bf1cc2fe1d3dbcbcfb852549c27 # v1.0.17
        with:
          app-path: ${{ matrix.app-path }}
      - if: github.ref == 'refs/heads/main'
        uses: it-at-m/lhm_actions/action-templates/actions/action-build-image@0f8ed45a5eb72bf1cc2fe1d3dbcbcfb852549c27 # v1.0.17
        with:
          path: ${{ matrix.app-path }}
          image-name: ${{ matrix.app-path }}
          artifact-name: ${{ join(steps.*.outputs.artifact-name) }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          registry-username: ${{ github.actor }}
          image-tags: |
            type=raw,value=dev
